.utility{
    width: 20vw;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.input{
    height: 70%;
    width: 20%;
    border-radius: 50%;
    font-size: large;
    font-weight: bolder;
    background-color:orange;
}