.container{
    width: 23vw;
    height: 8vh;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
    
}
.utility{
    display: flex;
    justify-content: space-between;
}