
.textInput{

    width: 40vw;
    height: 5vh;
    border-radius: 50px;
    border: 3px solid black;
    font-size: large;
    font-weight: bolder;
    text-align: center;
    
}

.inputBox button{
    height: 5vh;
    width: 5vw;
    background-color: #f59e0b;
    border-radius: 50px;
    margin-left: 5px;
    border: none;
    font-size: 10pt;
    font-weight: bolder;

}
