.add-todo-container{
    position:fixed;
    top: 5vh;
    left: 30vw;
}
.add-todo-container input{

    width: 35vw;
    height: 40px;
    border-radius: 50px;
    border: solid black 2px;
    text-align: center;
    font-size: 20pt;
    margin-right: 10px;
}

.add-todo-container button{
    height: 40px;
    width: 100px;
    font-size: large;
    font-weight: bolder;
    background-color: darkorange;
    border-radius: 50px;
}